In [1]:
import pandas as pd
import numpy as np

Covariance:Covariance signifies the direction of the linear relationship between the two variables. By direction we mean if the variables are directly proportional or inversely proportional to each other. (Increasing the value of one variable might have a positive or a negative impact on the value of the other variable).

correlation:Correlation analysis is a method of statistical evaluation used to study the strength of a relationship between two, numerically measured, continuous variables.

It not only shows the kind of relation (in terms of direction) but also how strong the relationship is.

In [2]:
df = pd.read_csv('loan_data_set.csv')
#the correlation between every numeric value in dataset
df.corr(method = 'kendall')

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
ApplicantIncome,1.000000,-0.230222,0.371769,-0.032096,0.035356
CoapplicantIncome,-0.230222,1.000000,0.187174,-0.011730,-0.006507
LoanAmount,0.371769,0.187174,1.000000,0.033096,-0.001937
Loan_Amount_Term,-0.032096,-0.011730,0.033096,1.000000,0.014733
Credit_History,0.035356,-0.006507,-0.001937,0.014733,1.000000

In [3]:
#bringing the covariance between each numric varaibles
df.cov()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
ApplicantIncome,3.732039e+07,-2.084490e+06,301192.495450,-18207.365609,-33.671724
CoapplicantIncome,-2.084490e+06,8.562930e+06,47909.140428,-11503.765339,-1.854510
LoanAmount,3.011925e+05,4.790914e+04,7325.190241,222.894173,-0.255510
Loan_Amount_Term,-1.820737e+04,-1.150377e+04,222.894173,4240.667780,0.034019
Credit_History,-3.367172e+01,-1.854510e+00,-0.255510,0.034019,0.133136