In [1]:
import numpy as np
import pandas as pd

population and sample
population is the whole dataset ,sample is a subset of the population

Samples are used when :

The population is too large to collect data.
The data collected is not reliable.
The population is hypothetical and is unlimited in size.

there are 2 ways of taking samples:
    1)with replacement
    2)without replacement.

In [9]:
df = pd.read_csv('loan_data_set.csv')

In [13]:
sample =df.sample(n=100)
sample.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
280,LP001910,Male,No,1,Not Graduate,Yes,4053,2426.0,158.0,360.0,0.0,Urban,N
572,LP002855,Male,Yes,2,Graduate,No,16666,0.0,275.0,360.0,1.0,Urban,Y
454,LP002453,Male,No,0,Graduate,Yes,7085,0.0,84.0,360.0,1.0,Semiurban,Y
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
417,LP002342,Male,Yes,2,Graduate,Yes,1600,20000.0,239.0,360.0,1.0,Urban,N